In [8]:
#from sklearn import datasets
import sklearn
#from sklearn.model_selection import train_test_split
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.metrics import accuracy_score
petal={0:"setosha",1:"versicolor",2:"verginica"}
iris=datasets.load_iris()
import pandas as pd
x=pd.DataFrame(iris.data)
x.sample(5)

       0    1    2    3
41   4.5  2.3  1.3  0.3
110  6.5  3.2  5.1  2.0
54   6.5  2.8  4.6  1.5
121  5.6  2.8  4.9  2.0
148  6.2  3.4  5.4  2.3